.container {
    margin-top: 20px;
}

.custom-photos {
    height: 300px !important;
    margin: 10px;
}

/*div.gallery {*/
/*    margin: 5px;*/
/*    border: 1px solid #ccc;*/
/*    float: left;*/
/*    width: 180px;*/
/*}*/

/*div.gallery:hover {*/
/*    border: 1px solid #777;*/
/*}*/

/*div.gallery img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/